# Virtual Environment
venv311/
venv/
.env/

# Dataset folder
data/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# Model files (optional but recommended)
*.pkl
*.joblib
*.h5
*.pt
*.pth

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

